include README.md

include src/icarus/*/*/config.json
include src/icarus/*/*/*/config.json
include src/icarus/*/*/*/*/config.json

include src/icarus/*/*/specs.json
include src/icarus/*/*/*/specs.json
include src/icarus/*/*/*/*/specs.json